<article class="post-card">
  <p class="meta">{{ include.post.date | date: "%Y.%m.%d" }}</p>
  <h3><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h3>
  {% if include.post.tags and include.post.tags.size > 0 %}
    <p class="tags">
      {% for tag in include.post.tags %}
        <span>{{ tag | downcase }}</span>
      {% endfor %}
    </p>
  {% endif %}
  {% if include.show_excerpt %}
    <p>{{ include.post.excerpt | strip_html | strip_newlines }}</p>
  {% endif %}
</article>
